body{
    /* background-color:rgb(209, 230, 228);    */
    background-image: url("https://wallpapercave.com/wp/wp3589895.jpg");
    background-position: scroll;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;      
   
  }
  .general_info {       
    background-color: rgb(235, 230, 230, 0.6);
    width:550px;
    border: 3px solid rgb(192, 189, 189,0.5); /*left*/
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    
  }
  .request {     
    
    font-family: MV Boli;
    background-color: rgba(235, 230, 230, 0.6);
    display: right;    
    width:350px;
    border: 3px solid rgb(143, 136, 136); /*left*/
    border-width: 0px 0px 2px 2px;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;    
  }

 .about_us {
  font-family: MV Boli;
  background-color: rgb(235, 230, 230, 0.6);
  width:350px;  
  border: 3px solid rgb(143, 136, 136);
  border-width: 0px 0px 2px 0px;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;  
 }

 .LinksQuality {
  font-family: MV Boli;
  text-align:center;
  color: rgb(17, 15, 15);
  background-color: rgb(235, 230, 230, 0.6);
  width:350px;
  border: 3px solid rgb(143, 136, 136);
  border-width: 0px 2px 2px 0px;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;  
 }
 table{
 position: center;
 border-color: rgb(235, 230, 230,0.6);
 font-size: 8;
 }
 thead{
  background-color: rgb(141, 143, 132);
  border-color: white;
 }
 tbody{
  background-color: white;
  border-color: rgb(235, 230, 230,0.6);
 }
